{% extends 'base.html' %}

{% block title %}{{ album.title }} - Details{% endblock %}

{% block body %}
<h1>{{ album.title }}</h1>

<img src="{{ album.thumbnail_path }}">

<p>
    {{ album.details }}
</p>

{% if songs %}

    <p>Track Listing</p>
    {% for song in songs %}

    <ul>
        <li>{{ song.title }}</li>
    </ul>
    {% endfor %}

{% endif %}

<!-- <canvas id="myChart" width="200" height="200"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script> -->

{% if album_id | int > 8 %}
<form action='/albums/{{album.album_id}}/snippet' id ="create-snippet">
    <label for="taylor-swift-album">Choose a Taylor Swift Album for your mash-up:</label><br>
    <select name="taylor-swift-album" required>
        <option disabled selected value> -- Select an option -- </option>
        <option value="1">Taylor Swift</option>
        <option value="2">Fearless</option>
        <option value="3">Red</option>
        <option value="4">Speak Now</option>
        <option value="5">1989</option>
        <option value="6">reputation</option>
        <option value="7">Lover</option>
        <option value="8">folklore</option>
        <option value="9">Choose a random Taylor Swift album</option>
    </select><br>
    <button type="submit">Create snippet</button>
</form>

<script>
    $('#create-snippet').on('submit', (evt) => {
        evt.preventDefault();

        const requestRoute = $(evt.target).attr('action');
        const requestArgs = {
            'taylor-swift-album': $('select[name="taylor-swift-album"]').val()
        }
        console.log(`requestRoute = ${requestRoute}`);
        console.log(`requestArgs= ${requestArgs}`);
        
        $.get(requestRoute, requestArgs, (res) => {
            console.log('loaded', res);
            $('#display-snippet').html(res);
        });
    });
</script>

{% else %}

<form action='/albums/{{album.album_id}}/snippet' id="create-ts-snippet">
<button type="submit">Create snippet</button>
</form>

<script>
    $('#create-ts-snippet').on('submit', (evt) => {
        evt.preventDefault();

        const requestRoute = $(evt.target).attr('action');

        console.log(`requestRoute = ${requestRoute}`);
        
        $.get(requestRoute, (res) => {
            console.log('loaded', res);
            $('#display-snippet').html(res);
        });
    });
</script>

{% endif %}



<p id="display-snippet"></p>


{% endblock %}