{% extends 'base.html' %}
{% block title %}Snippets Home{% endblock %}

{% block body %}

<div class="container">
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="masthead mb-auto">
    <div class="inner">
        <nav class="navbar navbar-custom navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">Snippets</a>
            <button class="navbar-toggler" class=".text-nowrap" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end container-fluid" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/albums">All Albums<span class="sr-only">(current)</span></a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="/user/{{current_user.get_id()}}">Favorite Snippets<span class="sr-only">(current)</span></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% if current_user.is_authenticated %}
            <div class="collapse navbar-collapse justify-content-end container-fluid">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <form action='/logout' id="logout" method="POST">
                        <button type="submit" class="btn btn-outline-info">Log out</button>
                        </form>
                    </li>
                </ul>
            </div>
            {% endif %}
        </nav>
    </div>
</header>

<main role="main" class="inner cover">
    <section class="jumbotron text-center">
    <br>
    <br>
    <h1 class="cover-heading">Let's make an original Taylor Swift song snippet!</h1>
    <p class="lead text-muted"><i class="fa fa-scissors" aria-hidden="true"></i><br>
    Snippets utilizes Markov chains to generate random snippets from full album lyrics.<br>
    {% if current_user.is_authenticated %}
        <br>Choose a Taylor Swift album to create a snippet in the style of that album or upload your own album lyrics to create a mash-up snippet with a Taylor Swift album of your choice.<br>
        <br>Save your favorite snippets!
    {% else %}
    Test it out by choosing a Taylor Swift album and creating your own original snippet!
    {% endif %}
    </p>
    
    {% if not current_user.is_authenticated %}
    <p class="lead text-muted">Log in to save your favorite snippets and upload your own album lyrics.</p>
    {% endif %}

    {% if current_user.is_authenticated %}
    <p class="lead">
        <a href="/albums" class="btn btn-lg btn-outline-info">Get Started</a>
    </p>
    {% else %}
    <div class="button-box col-lg-12">
        <button type="button" id="show-create-account" class="btn btn-lg btn-outline-info" style="margin-right:10px;">Create an Account</button>
            <form action="/users" id="create-account" method="POST">
                <br>
                <div class="form-group">
                    <div style="text-align: center;">
                        <div style="display: inline-block; text-align: left;">
                            <label><h5>Create an Account</h5></label>
                            <p>Email: <input type="text" name="email" class="form-control" placeholder="name@example.com"></p>
                            <p>Password: <input type="password" name="password" class="form-control" placeholder="password"></p>
                            <input type="submit" class="btn btn-info">
                        </div>
                    </div>
                </div>
            </form>
        <button type="button" id="show-login" class="btn btn-lg btn-outline-info" style="margin-right:10px;">Log In</button>
            <form action="/login" id="login" method="POST">
                <br>
                <div class="form-group">
                    <div style="text-align: center;">
                        <div style="display: inline-block; text-align: left;">
                            <label><h5>Log In</h5></label>
                            <p>Email: <input type="text" name="email" class="form-control" placeholder="name@example.com"></p>
                            <p>Password: <input type="password" name="password" class="form-control" placeholder="password"></p>
                            <input type="submit" class="btn btn-info">
                        </div>
                    </div>
                </div>
            </form>
        <a href="/albums" class="btn btn-lg btn-outline-info" id="test-it-out">Test It Out</a>
    </div>
    {% endif %}
    </section>
</main>
</div>
</body>



    <!-- <h1>Snippets</h1>

    <h2>Let's make an original Taylor Swift song snippet!</h2>

    <ul>
        <li><a href="/albums">View all albums</a></li>
    
    {% if current_user.is_authenticated %}

        <li><a href="/all-users/{{current_user.get_id()}}" id="view-snippets">View user profile</a></li>

    </ul> -->

        <!-- <form action='/logout' id="logout" method="POST">
            <button type="submit">Log out</button>
        </form>

    {% endif %} -->
    

    <!-- {% if not current_user.is_authenticated %}

    <br><button type="button" id="show-create-account">Create An Account</button>

        <div class="create-account">
        <form action="/users" id="create-account" method="POST">
            <label><h3>Create An Account</h3></label>
            <p>
            Email <input type="text" name="email"><br><br>
            Password <input type="password" name="password"><br><br>
            <input type="submit">
            </p>
        </form>
        </div>

    <br><button type="button" id="show-login">Log In</button>

        <div class="login">
        <form action="/login" id="login" method="POST">
            <label><h3>Log In</h3></label>
            <p>Email <input type="text" name="email"></p>
            <p>Password <input type="password" name="password"></p>
            <input type="submit">
        </form>
        </div>

    {% endif %} -->

{% endblock %}