{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="container">
    <body class="text-center">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
<nav class="navbar navbar-custom navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Snippets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end container-fluid" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/albums">All Albums</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/user/{{current_user.get_id()}}">User Profile</a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% if current_user.is_authenticated %}
    <div class="collapse navbar-collapse justify-content-end container-fluid">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <form action='/logout' id="logout" method="POST">
                <button type="submit" class="btn btn-secondary">Log out</button>
            </li>
        </ul>
    </div>
    {% endif %}
</nav>
</div>
</header>

<main role="main" class="inner cover">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Favorite Snippets</h1>
            <p class="lead text-muted">Your favorite original song snippets organized by album.</p>
        </div>
    </section>

{% if current_user.is_authenticated and current_user == user %}

    {% if snippets|length > 0 %}

        {% for keys, values in snippets.items() %}

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
            <h3 class="featurette-heading" style="text-align: left;">{{ keys }}</h3><br>
                {% for item in values['snippets'] %}
                <ul>
                <li>{{ item }}</li>
                </ul>
                {% endfor %}
        </div>
        <div class="col-md-5">
            <a href="/albums/{{ values['album_id'] }}"><img src="{{ values['thumbnail'] }}"></a>
        </div>
        </div>

        {% endfor %}

    {% else %}

        <p>No snippets saved yet!</p>

    {% endif %}

{% elif current_user.is_authenticated and current_user != user %}

    <p>Oops! You do not have access to view other user profiles!</p>

{% else %}

    <p>Oops! Log in to view your profile!</p>
</main>

{% endif %}

{% endblock %}