{% extends 'base.html' %}

{% block title %}Favorite Snippets{% endblock %}

{% block body %}

<main role="main" class="inner cover">

    <section class="jumbotron text-center">
        <div class="container">
            <h2>My Snippets</h2>
            <p class="lead text-muted"><i class="fa fa-gratipay" aria-hidden="true"></i><br>
            Your favorite original song snippets organized by album.</p>
        </div>
    </section>

{% if current_user.is_authenticated and current_user == user %}

    {% if snippets|length > 0 %}

        {% for keys, values in snippets.items() %}

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-8 order-md-2">
            <h4 class="featurette-heading" style="text-align: left;">{{ keys }}</h4><br>
                {% for item in values['snippets'] %}
                <div class="col-11">
                <ul>
                <li>{{ item }}</li>
                </ul>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4 order-md-1">
                <a href="/albums/{{ values['album_id'] }}"><img src="{{ values['thumbnail'] }}"></a>
            </div>
        </div>

        {% endfor %}

    {% else %}

        <p>No snippets saved yet!</p>

    {% endif %}

{% elif current_user.is_authenticated and current_user != user %}

    <p>Oops! You do not have access to view other user profiles!</p>

{% else %}

    <p>Oops! Log in to view your profile!</p>
</main>

{% endif %}

<footer class="mastfoot mt-auto">
    <div class="inner">
        <br><br><p class="text-muted"><sub><i class="fa fa-scissors" aria-hidden="true"></i></sub></p>
    </div>
</footer>
</div>

{% endblock %}