{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}

{% if current_user.is_authenticated and current_user == user %}

    <h1>Favorite Snippets</h1>

    {% if snippets|length > 0 %}

        {% for keys, values in snippets.items() %}

        <ul>
            <li>{{ keys }}</li>
            <ul>
            {% for value in values %}
            <li>{{ value }}</li>
            {% endfor %}
            </ul>
        </ul>
        {% endfor %}

    {% else %}

        <p>No snippets saved yet!</p>

    {% endif %}

{% elif current_user.is_authenticated and current_user != user %}

    <p>Oops! You do not have access to view other user profiles!</p>

{% else %}

    <p>Oops! Log in to view your profile!</p>

{% endif %}

{% endblock %}